@import "sass/helprs/variables";
@import "sass/helprs/mixins";

// start header 

header {
    .container {
        nav {
            ul {
                position: absolute;
                left: 0;
                right: auto;
                &::before {
                    content: "";
                    position: absolute;
                    top: -30px;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}

// end header

// start setting 

.setting {
    // span close 
    .close {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        border-top-left-radius: 10px;
    }
    // for all heading 
    .hSetting {
        &::before {
            content: "👈";
            margin-left: 5px;
        }
    }
}

// end setting 

// start services

.service {
    .service-content {
        .images {
            &::after {
                content: "";
                position: absolute;
                top:-28px;
                left: -35px;
                right: auto;
            }
        }
    }
}
// end services

// start portfolio

.portfolio {
    .container {
        .portfolio-content {
            .project {
                background-image: linear-gradient(to left, #fff 20%, #f1f1f1 40%, #eee 60%, #ddd 80%, #ccc 100%);
            }
        }
    }
}

// end portfolio

// start about

.about {
    .about-content {
        .about-image {
            @media #{$maxMobail} {
                position: relative;
                left: auto;
                right: 25px;
            }
            &::after {
                content: "";
                position: absolute;
                top: -10%;
                left: -30px;
                right: auto;
            }
            &::before {
                content: "";
                position: absolute;
                left: -100px;
                right: auto;
            }
        }
    }
}

// end about 
