// variable for media 
$maxMobail: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

// color
$mainColor: #10cab7;
$shapeColor: #2c4755;
$hColor: #222;
$secondryColor: #666;
$backColor: #f1f1f1;


// main padding
$mainPadding: 50px;
